[Unit]
Description=Bitcoin daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
NotifyAccess=all
ExecStart=$BITCOIND --daemonwait --pid=$HOME/.bitcoin/bitcoind.pid

Type=forking
PIDFile=$HOME/.bitcoin/bitcoind.pid
Restart=on-failure
TimeoutStartSec=infinity
TimeoutStopSec=600

KillSignal=SIGINT
LimitNOFILE=32768
User=$USER
Group=$USER

# Hardening
PrivateTmp=yes
PrivateDevices=yes
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
