name: POSIX Compliance Checks

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  posix:
    name: POSIX Compliance
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install checkbashisms dependency
        run: ./spells/.arcana/core/install-checkbashisms
      - name: Verify POSIX compliance
        run: ./spells/system/verify-posix
